
*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}
body{
    background: #F6F7F9;
    color: #343F51;
}

.primary-btn{
    background-color: #343F51;
}
.secondary-btn{
    border: 3px solid #343F51;
    background-color: #fff;
}
.secondary-btn:hover{
    color: #fff;
    background-color: #343F51;
}
.light-blue{
    background-color: rgba(0, 0, 255, 0.15);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.light-green{
    background-color: rgba(38, 255, 0, 0.204);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.light-red{
    background-color: rgba(255, 0, 0, 0.15);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.margin{
    margin-top: -150px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
}
.light-blue-2{
    background-color: rgba(0, 0, 255, 0.15);
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.light-green-2{
    background-color: rgba(38, 255, 0, 0.204);
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.light-red-2{
    background-color: rgba(255, 0, 0, 0.15);
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.margin-y{
    margin: 100px 0;
}
.bg-base{
    background: #F6F7F9;
}